[submodule "frameworks/native"]
	path = frameworks/native
	url = https://github.com/acsl-technion/android_frameworks_native-bio-tracer
[submodule "system/bpfprogs"]
	path = system/bpfprogs
	url = https://github.com/acsl-technion/android_system_bpfprogs-bio-tracer.git
